.bookingHeader {
    font-weight: 800;
}

.bookingElement {
    display: flex!important;
    justify-content: flex-end!important;
}

.datesetter {
    margin-left: 5px;
    margin-right: 5px;
}

.bookingTable {
    margin-top: 20px!important;
}

.td-portal>mark {
    background-color: #41F7936b
}

.td-event>mark {
    background-color: #ffef2a
}

.anticon[tabindex] {
    cursor: pointer;
    color: blue!important;
    font-size: 20px!important;
}
.saveBtn{
    
    background:#28e086;
    border-color: #28e086;
    position: absolute;
    color: black;

}
.saveBtn:hover{
    background: blue;
}
.discardBtn{

color: blue!important;
border-color: blue;
position: absolute !important;

}
.discardBtn:hover{
    color: blue!important;
    border-color: blue;
  
    }
.ant-table-thead > tr > th{
        background: white !important;
        border-bottom: 1px solid #bbb !important;
    }

 .ant-typography mark{
    font-size: smaller !important;
 }    
 .ant-modal-footer {
    padding: 16px 160px !important;
 }
 .ant-modal-content{
    height: 430px !important;
 }
 .saveBtn, .btnTwo{
    margin-left: 10px;
 }
 