.GurdwaraBtn {
    background-color: #28e086 !important;
    font-weight: 500;
    height: 35px;
    border: none!important;
    cursor: pointer!important;
    border-radius: 2px;
    width: 125px;
}

.addGurdwara {
    text-align: end;
}

.ant-btn,
.ant-btn-primary {
    width: 100%!important
}

.addBtn{
    border: 1px solid blue;
    background-color: white;
    color: blue;
    width: 32%!important;
    border-radius: 5px;
    font-size: 15px;
    height: 35px;
    padding-left: 6px;
    margin-right: -50px !important;
}


