.navbar {
    background-color: white;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

@media (min-width: 992px) {
    .menu {
        display: none;
    }
}

.logo {
    height: 32px;
    margin-left: 1rem;
}

.logoStyling {
    color: blue;
    font-weight: 700;
    cursor: pointer;
    text-align: start;
}

.navbarStyling {
    display: flex;
    justify-content: space-between;
}

.bookingBtn {
    background-color: #28e086 !important;
    font-weight: 500;
    height: 45px;
    position: absolute;
    left: 220px;
    border: none!important;
    cursor: pointer!important;
    border-radius: 2px;
    width: 125px;
}

.user {
    padding-right: 25px;
}

.user>.anticon {
    font-size: 30px;
    color: #65cad4;
}