.navbar {
    background-color: white;
}

@media (min-width: 992px) {
    .menu {
        display: none;
    }
}

.logo {
    height: 32px;
    margin-left: 1rem;
    background-color: #fff!important;
}

.logoStyling h1 {
    color: blue;
    font-weight: bolder;
    font-size: x-large;
    cursor: pointer;
    text-align: start;
    background-color: #fff!important;
    font-family: proxima-nova;
}

.logoStyling {
    width: 200px;
    padding-top: 20px;
    background-color: white;
    border-right: 1px solid #ececec
}

.navbar-content {
    display: flex;
    justify-content: flex-start;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
}

.navbarcolor {
    background-color: #f3f3f3;
}

.user {
    padding-top: 15px;
    padding-bottom: 15px;
}

.bookingBtn {
    background-color: #28e086 !important;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 0;
    padding: 8px 10px 4px 10px;
    cursor: pointer!important;
}

.user {
    display: flex;
    justify-content: end;
}

.user>.anticon {
    font-size: 30px;
    color: #65cad4;
}

.ant-menu-horizontal {
    background-color: #f3f3f3!important;
}


/* .bokBtn{
    font-family: proxima-nova;
    color: #002333;
    text-align: center;
    line-height: 1.5;
    vertical-align: -.0667em;
} */

.calIcon {
    width: 1.25em;
    font-weight: 300;
    line-height: inherit;
    text-align: center;
    font-family: "Font Awesome 5 Pro";
    font-size: 1.33333em;
    display: inline;
    font-style: normal;
}

.ant-btn>.anticon+span,
.ant-btn>span+.anticon {
    margin-left: 3px;
}

.ant-btn>span {
    display: inline-flex;
    padding-top: 0.5px;
}

.ant-menu-item-selected {
    background-color: none !important;
    color: #3b4aff !important;
}

.ant-menu-item-selected a {
    color: #3b4aff !important;
}

.ant-menu-item::after {
    border-right: 3px solid #3b4aff !important
}

.ant-layout-sider-light {
    border-right: 1px solid #ececec !important;
}

.content {
    min-height: 90vh !important;
    background-color: white;
    padding: 20px;
}

.ant-input-search:not(.ant-input-search-enter-button) {
    border-radius: 5px !important;
}