.sidebar {
    /* min-width: 190px !important;
    max-width: 100px !important; */
}
.ant-menu-inline{
    position: sticky;
    top: 80px;
}

/* .sidebar .ant-menu-item-selected{
    background-color: inherit !important;
    color: #3b4aff;
    border-color: #3b4aff
}

.sidebar .ant-menu-item-selected::after{
    border-right: 3px solid #3b4aff
}

.sidebar .ant-menu-item:hover{
    color: #3b4aff;
}

.sidebar .ant-menu-submenu-title:hover{
    color: #3b4aff;
} */

@media only screen and (max-width: 900px) {
    .sidebar,
    .ant-layout-sider,
    .ant-layout-sider-light,
    .ant-layout-sider-collapsed,
    .ant-layout-sider-below {
        display: none;
    }
}