.bookingFormHeading {
    font-weight: 800!important;
}

.bookingBtn {
    background-color: #28e086!important;
    border-radius: 6px!important;
    color: black!important;
    width: 140px;
    height: 40px;
    margin-bottom: 0;
    padding: 8px 10px 4px 10px;
    cursor: pointer!important;
}

.discardBtns {
    font-weight: 500;
    height: 45px;
}

.bookingform {
    width: 300px!important;
}

.formHeader {
    font-size: 15px!important;
    font-weight: 700;
    margin-bottom: 0!important;
}

.formData {
    padding: 8px;
}