.events {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .events .ant-badge-status {
    width: 100%;
    overflow: hidden;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .notes-month {
    font-size: 28px;
    text-align: center;
  }
  .notes-month section {
    font-size: 28px;
  }

  .scrollmenu {
    overflow: auto;
    white-space: nowrap;
  }

  .hall-item{
    width: 100%
  }

  .block {
    cursor: pointer;
    border: 1px solid #f0f2f5;
    display: inline-block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }

  .hall-heading{
    width: 100px;
    float: left;
    padding-top: 40px;
  }
  